<div class="widget-categories">
    <h3 class="widget-title">Categories</h3>
    <ul>
        <% for(let i = 0; i < categories.length; i++) { %>
            <li><a href="/courses?category=<%= categories[i].slug %>"><%= categories[i].title %></a></li>
        <% } %>
    </ul>
</div>