<div class="collapse navbar-collapse" id="navbars-host">
    <ul class="navbar-nav ml-auto">
        <% if (typeof user !== "undefined") { %>
            <li class="nav-item"><a class="nav-link" href="/">Welcome <%= user.name %></a></li>
        <% } %>
        <li class="nav-item <%= current_path === '/' ? 'active' : '' %>">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item <%= current_path === '/courses' ? 'active' : '' %>">
            <a class="nav-link" href="/courses">Courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="dashboard.html">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (typeof user !== "undefined") { %>
            <li>
                <a class="hover-btn-new log orange mr-2" href="/user/logout">
                    <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                </a>
            </li>
        <% } else { %>
            <li>
                <a class="hover-btn-new log orange mr-2" href="/login">
                    <span><i class="fa fa-sign-in" aria-hidden="true"></i></span>
                </a>
            </li>
        <% } %>
    </ul>
</div>