<div class="widget-search">
    <div class="site-search-area">
        <form method="get" id="site-searchform" action="/courses">
            <div>
                <input class="input-text form-control" name="search_k" id="search-k"
                       placeholder="Search keyword..." type="text">
                <input id="searchsubmit" value="Search" type="submit">
            </div>
        </form>
    </div>
</div>